*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


.header {
    list-style: none;
    font-weight: 500;
    margin: 0 auto;
    padding: 0 15px;
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;
    
    
    
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


ul {
    list-style: none;
}


nav {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
}


.page-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;

}


.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
}


.nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}


.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.web {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin: 0;
    margin-right: 76px;
}

.studio {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    padding: 24px 0;
}

.nav-webstudio {
    display: flex;
    align-items: center;

}

.address-list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
}


.address-page {
    font-style: normal;

}


.address-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.address-link:hover,
.address-link:focus {
    color: #404bbf;
}



.page-title {
    background-color: #2e2f42;
    text-align: center;
    line-height: 1.07;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 188px 0;

    background-image: 
    url("../images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    max-width: 496px;
    margin: 0 auto;
    
}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    max-width: 496px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 0 auto 48px;
}


.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;

}

.button:hover,
.button:focus {
    background-color: #404BBF;
}


.features {
    background-color: #ffffff;
    padding: 120px 0;
}

.features-list {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;

    margin: 0;
    padding: 0;

}


.features-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.features-section {
    flex: 1 1 calc((100% - 72px) / 4);
}


.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: left;

}


.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-h {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-weight: 500;
    margin-bottom: 8px;

}

.team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    justify-content: center;

}

.team-members {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);


}


.team-title {
    padding: 32px 0;
    text-align: center;
}


.text-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.app {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;

}

.app-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    list-style: none;
}

.app-h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    font-size: 20px;
    list-style: none;
    display: block;
    text-align: left;


}


.portfolio-items {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
   


}

.portfolio-items:nth-child(3n) {
    margin-right: 0;
}

.portfolio-items img {
    width: 100%;
    height: auto;
    display: block;

}


.app-text {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;


}





.footer {
    background-color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 100px 0;
}



.footer .container {
    flex-direction: column;
    align-items: flex-start;
    max-width: 1158px;
}

.footer-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo {
text-decoration: none;
font-family: "Raleway", sans-serif;
font-weight: 700;
color: #f4f4fd;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.03em;


}



.footer-text {
    color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    max-width: 264px;
    line-height: 1.5;
    max-width: 264px;
    

}

